<?xml version="1.0"?>
<launch>

  <arg name="joint_state_publisher_activated" default="false"/>
  <param command="$(find xacro)/xacro '$(find arg_devbot_description)/urdf/devbot.urdf.xarco' --inorder" name="robot_description"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node if="$(eval joint_state_publisher_activated)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

</launch>

